@import "./theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
  height:100%;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-family);
  border-color: var(--color-border);
}

/* Ensure theme cascade to all children */
html * {
  color-scheme: light;
}

html[data-theme="dark"] * {
  color-scheme: dark;
}
